@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;

a {
  @apply text-blue-600 underline;
}

@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';
@import 'additional-styles/table.scss';
@import 'additional-styles/spinner.scss';

@tailwind utilities;

$heading-heigth: 180px;

.table-wrapper {
  @apply w-full;
  max-height: 70vh;
}

.big-table {
  border-collapse: separate;
  border-spacing: 0;

  // This two are for two last sticky trs
  tr:nth-last-child(1) {
    bottom: 0;
    position: sticky;
  }
  tr:nth-last-child(2) {
    bottom: 44px; /* Adjust the value as needed */
    position: sticky;
  }

  td:not(:first-child) {
    @apply border-2 border-white;
    @apply text-xs md:text-sm;
  }

  td:first-child {
    @apply border-b-2 border-t-2 border-r-2 border-white;
    @apply text-xs md:text-sm;
  }

  th:not(:first-child) {//:not(.tr-th) {
    @apply border-b-2 border-l-2 border-r-2 border-white;
    @apply text-xs md:text-sm;
  }

  th:first-child {
    @apply border-b-2 border-r-2 border-white;
    @apply text-xs md:text-sm;
  }

  tr { // Pillar
    @apply bg-[#4a5567]/[.3] text-black;

    th {
      position: sticky;
      top: 0;
      font-weight: 500;
      background: #dfebf4;
      z-index: 2;
      text-transform: capitalize;

      &:first-child {
        left: 0;
        z-index: 3;
      }
    }

    td {
      &:first-child:not(:nth-last-child(-n+2)) {
        // position: sticky;
        z-index: 1;
        left: 0;
      }
    }
  }

  .primary {
    background-color: #4a5567;
  }

  .min-100 {
    min-width: 100px;
  }

  .tablee div {
    border: 1px solid black;
  }

  th.vertical {
    vertical-align: bottom;
    padding: 10px;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.no-icon {
      justify-content: end;
    }
  }

  .vertical span {
    display: flex;
    transform: rotate(-180deg);
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    min-width: 10px;
    max-width: 30px;
    order: 1;
    align-items: center;
    text-align: left;
  }

  .vertical svg {
    order: -1;
  }

  .rotate {
    @apply rotate-180 text-left py-[10px] font-normal;
    writing-mode: vertical-rl;
    vertical-align: bottom;
    height: $heading-heigth;
  }

  .h-h {
    height: $heading-heigth;
  }

  .chakra-menu__menu-button {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.chakra-input:focus,
.chakra-input[data-focus],
.chakra-select:focus,
.chakra-select[data-focus],
input:focus,
textarea:focus {
  box-shadow: 0 0 0 1px #de3b33 !important;
  border-color: #de3b33 !important;
}

.top-18 {
  top: 70px;
}

.chakra-form__label {
  @apply text-xs md:text-sm;
}
