.chakra-table {
  &__container {
    max-height: 75vh;
    overflow-y: scroll !important;
  }
  th {
    text-transform: capitalize;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    padding: 12px 0;
    background: #4a5567;
    color: #fff;
    position: sticky;
    top: 0;
  }

  td {
    text-align: center;
  }

  th,
  td {
    border: 2px solid #fff;
    font-family: inherit;
    @apply text-xs md:text-sm;
  }
}

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.dataTable {
  tr:nth-child(odd) {
    @apply bg-[#dfebf4] bg-opacity-50;
  }
  tr:nth-child(even) {
    @apply bg-white bg-opacity-25;
  }
  tr {
    th {
      @apply bg-[#4a5567] text-white border-[3px] border-white p-2;
    }
    td {
      @apply text-[#374151] border-[3px] border-white p-2;
    }
  }
}