.timesheet {
    Tr:first-child {
        @apply font-bold bg-[#4a5567] text-white;
        Td {
            width: 14.28%;
            @apply border border-slate-500;
        }
    }

    Tr:not(:first-child) {
        @apply h-24;
        Td {
            @apply border border-slate-500 relative;
        }
    }
}